.Items .feature {
  transform: translateY(-50%);
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.Items h2, .Items p {
  transform: translateY(-50%);
}/*# sourceMappingURL=index.css.map */